@model IEnumerable<CriminalRecord>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Index";
}
@*To display notifications*@
<partial name="_Notifications" />
@*This is for data-tables*@
<link rel="stylesheet" href="//cdn.datatables.net/2.0.0/css/dataTables.dataTables.min.css" asp-append-version="true" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" />

<div class="card shadow-border-9 mt-4">
    <div class="card-header bg-gredient ml-0 py-4" style="background-color:lightskyblue;color:black">
        <div class="row" style="height:0.5rem">
            <div class="col-md-12 text-md-center">
                <h5>Criminal Record List</h5>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="btn-group w-100 mb-4" role="group">
            <div class="hover-btn">
                <a asp-controller="CriminalRecord" asp-action="DownloadCases" class="btn">
                    <i class="bi bi-download"></i>
                </a>
                <span>Download List</span>
            </div>
        </div>
        @if (User.IsInRole(SD.Role_Manager))
        {
            <table class="table table-striped" id="myTable">
                <thead>
                    <tr>
                        <th>Record Id</th>
                        <th>Offence</th>
                        <th>Sentence</th>
                        <th>Issued At</th>
                        <th>Issued By</th>
                        <th>Issued Date</th>
                        @*      <th>Manager Number</th> *@
                        <th>Case Manager Name</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model)
                    {
                        <tr>
                            <td>@obj.Id</td>
                            <td>@obj.OffenceCommited</td>
                            <td>@obj.Sentence years</td>
                            <td>@obj.IssuedAt</td>
                            <td>@obj.IssuedBy</td>
                            <td>@obj.IssueDate.ToShortDateString()</td>
                            @*    <th>@obj.CaseManagerNo</th> *@
                            <td>@obj.CaseManagerName</td>
                            @*Edit Button*@
                            <td>
                                <div class="w-75 btn-group" role="group">
                                    <div class="hover-btn">
                                        <a asp-controller="CriminalRecord" asp-action="EditRecord" asp-route-id="@obj.Id" class="btn mx-2">
                                            <i class="bi bi-pencil-square"></i>
                                        </a>
                                        <span>Edit</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        @if (!(User.IsInRole(SD.Role_Manager)))
        {
            @if (SignInManager.IsSignedIn(User))
            {
                var userId = UserManager.GetUserId(User);
                <table class="table table-striped" id="myTable">
                    <thead>
                        <tr>
                            <th>Record Id</th>
                            <th>Offence</th>
                            <th>Sentence</th>
                            <th>Issued At</th>
                            <th>Issued By</th>
                            <th>Issued Date</th>
                            <th>Edit</th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var obj in Model)
                        {
                            @if (@obj.CaseManagerId == userId)
                            {
                                <tr>
                                    <td>@obj.Id</td>
                                    <td>@obj.OffenceCommited</td>
                                    <td>@obj.Sentence years</td>
                                    <td>@obj.IssuedAt</td>
                                    <td>@obj.IssuedBy</td>
                                    <td>@obj.IssueDate.ToShortDateString()</td>
                                    <td>
                                        <div class="w-75 btn-group" role="group">
                                            <div class="hover-btn">
                                                <a asp-controller="CriminalRecord" asp-action="EditRecord" asp-route-id="@obj.Id" class="btn mx-2">
                                                    <i class="bi bi-pencil-square"></i>
                                                </a>
                                                <span>Edit</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
        }
    </div>
</div>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                order: [[2, 'asc']],
                rowGroup: {
                    dataSrc: 2
                },
                "scrollY": "50vh",
                // "scrollX": true,
                "scrollCollapse": true,
                "paging": true,
                "pagingType": "full_numbers"
            });
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }

}