@model IEnumerable<Suspect>
@*Add this because we used it on SuspectController*@
@{
    ViewData["Title"] = "Index";
}
@* @if (TempData["SuccessMessage"] != null)
{
    <div style="background-color:white;color:black" class="alert alert-success"> 
        @TempData["SuccessMessage"]
    </div>
}
 *@
@*This is for data-tables*@
<link rel="stylesheet" href="//cdn.datatables.net/2.0.0/css/dataTables.dataTables.min.css" asp-append-version="true" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" />


<div class="card shadow-border-0 mt-4">
    <div class="card-header bg-gredient ml-0 py-4" style="background-color:cadetblue;color:white">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Suspect List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="btn-group w-100 mb-4" role="group">
            <div class="hover-btn">
                <a asp-controller="Suspect" asp-action="DownloadSuspects" class="btn">
                    <i class="bi bi-download"></i> @*fs-4 is the size of the icon (fs-6 is the smallest)*@
                </a>
                <span>Download List</span>
            </div>
            <div class="hover-btn">
                <a asp-controller="Suspect" asp-action="AddSuspects" class="btn">
                    <i class="bi bi-plus-circle"></i>
                </a>
                <span>Add New Suspect</span>
            </div>
        </div>
        <div class="row">
            <div class="col=md-12">
                <section>
                    <table class="table table-striped" id="myTable">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Suspect Id</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Total number of Offences</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var obj in Model)
                            {
                                <tr>
                                    <td>@obj.SuspectNumber</td>
                                    <td>@obj.SuspectId</td>
                                    <td>@obj.FirstName</td>
                                    <td>@obj.LastName</td>
                                    <td>@obj.TotalCriminalRecords</td>
                                    <td>
                                        <div class="w-75 btn-group" role="group">
                                            <div class="hover-btn">
                                                <a asp-controller="Suspect" asp-action="ShowSuspectDetails" asp-route-id="@obj.SuspectNumber" class="btn mx-2">
                                                    <i class="bi bi-info-circle"></i>
                                                </a>
                                                <span>Show details</span>
                                            </div>
                                            <div class="hover-btn">
                                                <a asp-controller="CriminalRecord" asp-action="AddRecords" asp-route-id="@obj.SuspectNumber" class="btn mx-2">
                                                    <i class="bi bi-plus-circle"></i>
                                                </a>
                                                <span>Add criminal record</span>
                                            </div>

                                            <div class="hover-btn">
                                                <a asp-controller="Suspect" asp-action="EditSuspect" asp-route-id="@obj.SuspectNumber" class="btn mx-2">
                                                    <i class="bi bi-pencil-square"></i>
                                                </a>
                                                <span>Edit</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <table>
                        <tr>
                            <td><strong>Total Criminal Records:</strong></td>
                            <td>@ViewBag.TotalCriminalRecords</td>
                        </tr>
                    </table>
                </section>
            </div>
        </div>
    </div>
</div>

@* <div class="col-3">
    <form asp-controller="Suspect" asp-action="SearchSuspect">
        <div class="input-group">
            <input type="text" name="suspectId" class="form-control" placeholder="Enter Suspect ID">
            <button type="submit" class="btn btn-primary" style="color:black;background-color:grey"><i class="bi bi-search"></i> Search</button>
        </div>
    </form>
</div> *@



@section Scripts {
      <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                order: [[2, 'asc']],
                rowGroup: {
                    dataSrc: 2
                },
                "scrollY": "50vh",
                // "scrollX": true,
                "scrollCollapse": true,
                "paging": true,
                "pagingType": "full_numbers"
            });
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }

}
